.user-group {
    .group-list {
        display    : flex;
        align-items: center;
        cursor     : pointer;
        padding    : 15px 10px;

        &:hover {
            background: rgba(0, 0, 0, 0.1);
        }

        >.avatar {
            >img {
                width        : 35px;
                height       : 35px;
                margin-right : 10px;
                border-radius: 3px;
            }
        }

        >.content {
            display  : flex;
            flex-flow: column;
            flex     : 1;

            .top {
                display       : flex;
                padding-bottom: 5px;


                div:first-child {

                    flex         : 1;
                    padding-right: 10px;
                }

                div:last-child {
                    font-size   : $font-size-one;
                    color       : $font-color-four;
                    padding-left: 5px;
                }
            }

            .bottom {
                flex     : 1;
                font-size: $font-size-one;
                color    : $font-color-four;

            }
        }
    }

    .active {
        background: rgba(0, 0, 0, 0.1);
    }
}